/* body{
  caret-color: transparent;
} */
.vtophead {
  display: flex;
}
.drawsign h6.MuiTypography-root.MuiTypography-h6.signhead.css-2ulfj5-MuiTypography-root{
    margin-top: 20px;
}
/* .filldetail span{
    font-size: 10px;
    margin-left: 30%;
} */
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    top: -6px !important;
}
.sltext{
    font-size: 15px;
    font-weight: 900;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
    height: 45px;
}
.ibox
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  height: 45px;
  width: 45px;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  height: 40px;
}
.css-125ez3i {
  float: right;
  top: -25px;
}

.vtable {
  margin-top: -45px;
}
.rpninput
  .MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-1j5gcdd-MuiFormControl-root-MuiTextField-root {
  width: 300px;
}
.stepicon
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  height: 30px;
  width: 30px;
}
.stepicon
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  height: 30px;
  width: 30px;
}
.MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel.Mui-disabled.css-zpcwqm-MuiStepConnector-root {
  top: 15px;
}
.MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel.Mui-active.css-zpcwqm-MuiStepConnector-root {
  top: 15px;
}
.MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel.Mui-completed.css-zpcwqm-MuiStepConnector-root {
  top: 15px;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    width: 45%;
    height: 73%;
    left: 5px;
    top: 0px;
  }

@media (max-width: 1024px) {
  .vtophead {
    display: block;
  }
  .sp{
    width: 250px;
    height: 150px;
  }
  .showimg img{
    width: 100% !important;
    border: 15px solid lightgray !important;
    border-radius: 10px !important;
  }
  .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.css-a5rdam-MuiGrid-root {
    display: block;
  }
  .MuiGrid-root.MuiGrid-container.css-1hbmzt3-MuiGrid-root {
    margin-left: 16% !important;
    width: 300px !important;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    top: 3px !important;
}
.sltext{
    font-size: 8px;
}
  .rgotp
    button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root {
    left: 15px !important;
    width: 100px !important;
  }
  .rvotp
    button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root {
    left: 15px !important;
    width: 125px !important;
  }
  .anbtn
    button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin-left: 60% !important;
    margin-top: -60px !important;
  }
  .gotp
    button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root {
    width: 120% !important;
    margin-left: -20px !important;
    top: 10px !important;
  }
  .votp
    button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin-left: -148px;
    width: 115px !important;
  }
  .vtable{
    margin-top: 1px;
  }
  .vtophead
    h6.MuiTypography-root.MuiTypography-h6.css-2ulfj5-MuiTypography-root {
    margin-left: -80%;
  }
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    height: 30px !important;
  }
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 40px;
    top: 10px;
  }
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    width: 80%;
    height: 70%;
    left: -17px;
    top: 10px;
  }
  .css-125ez3i {
    width: 35% !important;
    left: 30px;
  }
  .rpninput
    .MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-1j5gcdd-MuiFormControl-root-MuiTextField-root {
    width: 150px !important;
  }
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    margin-left: 20px;
  }
  .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 10px;
    margin-left: -4px;
  }
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-4.css-gj1fbr-MuiGrid-root img {
    height: 100% !important;
    width: 200% !important;
    margin-left: 50px;
  }
  .fillinput
    .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 80% !important;
  }
  .rinput
    .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 120% !important;
  }
  .fillinput
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: 260px !important;
  }
  a.MuiTypography-root.MuiTypography-inherit.MuiLink-root.MuiLink-underlineAlways.css-1xylxj1-MuiTypography-root-MuiLink-root {
    margin-left: -50px;
  }
  .lbtn
    button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root {
    width: 300% !important;
    left: 45px;
  }
  .lta
    a.MuiTypography-root.MuiTypography-inherit.MuiLink-root.MuiLink-underlineAlways.css-1xylxj1-MuiTypography-root-MuiLink-root {
    margin-left: 20px;
  }
  .fillinput {
    margin-left: 5px;
  }
  .fillinput
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.css-mhc70k-MuiGrid-root {
    margin-left: -50px;
  }
  .ibox
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 40px;
    width: 35px;
  }
  .MuiDialog-root.popup.MuiModal-root.css-zw3mfo-MuiModal-root-MuiDialog-root{
    left: 1px !important;
    width: 100% !important;
  }
  .tsearch{
    width: 35% !important;
    height: 35px !important;
    float: right;
  }
  main.MuiBox-root.css-zxdg2z{
    width: 50%;
  }
}
